body {
  background-color: rgb(53, 51, 51);
  color: rgb(243, 229, 202);
  color: rgb(221, 161, 39);
}

header,
footer {
  text-align: center;
  background-color: rgb(43, 41, 41);
}

img {
  width: 20vw;
}
